@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@mixin center-setting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Head {
  display: inline;

  .BG {
    @include center-setting;

    width: 100%;
    height: 120px;

    .Title {
      background-color: rgba(100, 100, 100, 0.6);

      @include center-setting;

      width: 30%;
      margin: 30px;

      border-radius: 15px;
      box-shadow: 0px 2px 1px 1px rgba(69, 93, 74, 0.342);

      color: white;

      h1 {
        display: inline;

        line-height: 120px;

        text-align: left;
      }

      a {
        margin: 0 10px 0px 0px;

        font: {
          size: 21pt;
          family: 'Do Hyeon', sans-serif;
        }

        @media (max-width: 1200px) {
          font: {
            family: 'Do Hyeon', sans-serif;
            size: 16px;
          }
        }
      }
    }

    .Sentence {
      background-color: rgba(100, 100, 100, 0.6);

      @include center-setting;

      width: 55%;
      height: 100%;
      margin: 30px;

      border-radius: 15px;
      box-shadow: 0px 2px 1px 1px rgba(69, 93, 74, 0.342);

      .Selection {
        @include center-setting;

        width: 20%;
        height: 100%;
        margin: 20px;
        
        border-radius: 15px;

        font: {
          family: 'Do Hyeon', sans-serif;
          size: 26px;
        }
        @media (max-width: 1200px) {
          font: {
            family: 'Do Hyeon', sans-serif;
            size: 18px;
          }
        }
        color: RGB(255, 255, 255);
      }
    }
  }
}

.Bar {
  position: absolute;

  top: 15px;

  font-size: 50px;
  color: rgba(255, 255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

.S1 {
  &:hover {
    color: rgb(181, 255, 254);
  }
}

.S2 {
  &:hover {
    color: rgb(186, 181, 255);
  }
}

.S3 {
  &:hover {
    color: rgb(255, 181, 220);
  }
}