@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.Hello {
  display: inline;
}

.Hello > h2 {
  display: inline;
  margin: 40px 0 0 10px;
  font-size: 35pt;
  text-align: center;
}

.none {
  color: white;
}

.kc {
  color: rgb(239, 155, 152);
}

.kr {
  color: rgb(80, 248, 167);
}

.Hello > p {
  display: block;
  font-size: 25pt;
  line-height: 110px;
  text-align: center;
  color: white;
}

span {
  color:rgb(80, 234, 248);
}