@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.Sect {
  display: inline;
}

.Sect > .BG {
  margin: 20px;
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
}

.Sect > .BG > .Title {
  background-color: rgba(70, 70, 70, 0.8);
  font-family: "Do Hyeon", sans-serif;
  display: flex;
  width: 65%;
  height: 100%;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0px 2px 1px 1px rgba(69, 93, 74, 0.342);
  justify-content: center;
  align-items: center;
}